@using VehicleTracker.Models
@model List<Branch>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<script src="~/lib/bootstrap/jquery/jquery-3.2.1.min.js"></script>*@
<div class="dashboard-con">
    <div class="row">
        <div class="col-md-12">
            <div class="admin-content-con clearfix">
                <header>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Danh sách hãng xe</h5>
                        </div>
                        <div class="col-md-offset-4 col-md-4">
                            <a class="btn btn-xs btn-primary pull-right" href="@Url.Action("Insert")" role="button">Tạo hãng xe mới</a>
                        </div>
                    </div>
                </header>

                <table class="table table-bordered" style="font-size: 15px;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            foreach (var _branch in Model)
                            {
                                <tr>
                                    <td>@_branch.Id</td>
                                    <td>@_branch.Name</td>
                                    <td>
                                        <center>
                                            <a class="btn btn-xs btn-warning" href="@Url.Action("Edit", "Branch", new { Id = _branch.Id })" role="button">Sửa</a>
                                            <a class="btn btn-xs btn-danger" href="@Url.Action("Delete", "Branch", new { Id = _branch.Id, Name = _branch.Name })" role="button" id="delete" onclick="return confirm('Bạn chắc chắn muốn xóa?')">Xóa</a>
                                        </center>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
