@using VehicleTracker.Models
@model VehicleType
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="content">
    <header class="clearfix">
        <h2 class="page-title">
            Thêm thông tin loại xe mới
        </h2>
    </header>
    <div class="content-inner">
        <div class="row">
            <div class="col-md-8">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <span class="help-block">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </span>
                    <div class="edit-row">
                        <h3>Id</h3>
                        <p>Là chữ và số, tối đa 10 ký tự</p>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Id, new { @class = "form-control", @placeholder = "Enter Type Id Here.." })
                            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="edit-row">
                        <h3>Tên loại xe</h3>
                        <p>Là chữ và số, tối đa 50 ký tự</p>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Type Name Here.." })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Thêm" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

