@using VehicleTracker.Models
@model List<User>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="dashboard-con">
    <div class="row">
        <div class="col-md-12">
            <div class="admin-content-con clearfix">
                <header>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Danh sách thành viên</h5>
                        </div>
                        <div class="col-md-offset-4 col-md-4">
                            <a class="btn btn-primary pull-right" href="@Url.Action("Registration", "Home")" role="button" target="_blank">Đăng ký thành viên</a>
                        </div>
                    </div>
                </header>

                <table class="table table-bordered" style="font-size: 15px;">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Tên tài khoản</th>
                            <th>Quyền</th>
                            <th>Họ tên</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th>Kích hoạt</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.Email</td>
                                    <td>@user.UserName</td>
                                    <td>
                                        @{
                                            switch (user.Role)
                                            {
                                                case 1:
                                                    <span class="btn btn-xs btn-danger">admin</span>
                                                    break;
                                                case 2:
                                                    <span class="btn btn-xs btn-warning">waiting</span>
                                                    break;
                                                case 3:
                                                    <span class="btn btn-xs btn-success">user</span>
                                                    break;
                                                case 4:
                                                    <span class="btn btn-xs btn-info">staff</span>
                                                    break;
                                                case 5:
                                                    <span class="btn btn-xs btn-default">deleted</span>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                    </td>
                                    <td>@user.FullName</td>
                                    <td>@user.Address</td>
                                    <td>@user.PhoneNumber</td>
                                    <td>
                                        @{
                                            switch (user.First)
                                            {
                                                case 1:
                                                    <label><input type="checkbox" value="" disabled /></label>
                                                    break;
                                                case 2:
                                                    <label><input type="checkbox" value="" disabled checked /></label>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-xs btn-warning" href="@Url.Action("Edit", "User", new { email = user.Email })" role="button">Sửa</a>
                                        <a class="btn btn-xs btn-danger" href="@Url.Action("Delete", "User", new { email = user.Email })" role="button" onclick="return confirm('Bạn chắc chắn muốn xóa?')">Xóa</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
