@using VehicleTracker.Models
@model List<User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="dashboard-con">
    <div class="row">
        <div class="col-md-12">
            <div class="admin-content-con clearfix">
                <header>
                    <h5>User</h5>
                </header>

                <table class="table table-bordered" style="font-size: 15px;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Email</th>
                            <th>Tên tài khoản</th>
                            <th>Quyền</th>
                            <th>Họ tên</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th>Kích hoạt</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            foreach (var user in Model)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" name="name" value="" />
                                    </td>
                                    <td>@user.Email</td>
                                    <td>@user.UserName</td>
                                    <td>
                                        @{
                                            switch (user.Role)
                                            {
                                                case 1:
                                                    <span class="btn btn-xs btn-danger">admin</span>
                                                    break;
                                                case 2:
                                                    <span class="btn btn-xs btn-warning">waiting</span>
                                                    break;
                                                case 3:
                                                    <span class="btn btn-xs btn-success">user</span>
                                                    break;
                                                case 4:
                                                    <span class="btn btn-xs btn-info">staff</span>
                                                    break;
                                                case 5:
                                                    <span class="btn btn-xs btn-default">deleted</span>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                    </td>
                                    <td>@user.FullName</td>
                                    <td>@user.Address</td>
                                    <td>@user.PhoneNumber</td>
                                    <td>
                                        @{
                                            switch (user.First)
                                            {
                                                case 1:
                                                    <label><input type="checkbox" value="" disabled /></label>
                                                    break;
                                                case 2:
                                                    <label><input type="checkbox" value="" disabled checked /></label>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-xs btn-warning" href="@Url.Action("Edit", "User", new { email = user.Email })" role="button">Edit</a>
                                        <a class="btn btn-xs btn-primary" href="@Url.Action()" role="button">View</a>
                                        <a class="btn btn-xs btn-danger" href="@Url.Action()" role="button">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
